/Lab1Arq2017/dist/
/Lab4Arq/CollaborationBoard/nbproject/private/
/Lab4Arq/CollaborationBoard/build/
/Lab4Arq/CollaborationBoard/dist/
/proveedorRest/target/
/ConsumidorRest/nbproject/private/
/Lab6Arq/proveedorRest/target/
/Lab6Arq/ConsumidorRest/nbproject/private/
/prooverdorRest/target/
/Lab6Arq/prooverdorRest/target/